{{!-- GET user posts to display, option to create post or view posts --}}
<h4 class="center cyan-text text-darken-3">Nice to see you again <span class="orange-text text-darken-3">{{user_name}}</span>!</h4>
<h5 class="center"> What are you up to today?</h5>
</br>
<div class ="row center">
    <a href="/dashboard/new-post" class="btn waves-effect waves-light create-post-btn" type="button" name="action">New
    <i class="material-icons right">lightbulb</i>
    </a>
</div>

<div class="col s12 m6  posts-card">

{{#each posts as |posts| }}

    <div class="card">
        <div class="card-content">
            <div class ="col right">
                <button data-delete-id="{{posts.id}}" class="btn waves-effect waves-light delete-btn" type="button" name="action">Delete
                <i class="material-icons right">delete</i>
                </button>
            </div>
            <div class ="col right">
                <button data-edit-id="{{posts.id}}" class="btn waves-effect waves-light edit-btn" type="button" name="action">Edit
                <i class="material-icons right">edit</i>
                </button>
            </div>
            <a class="card-title orange-text text-darken-4" href="/posts/{{posts.id}}">{{posts.post_title}}</a>
            <p>
                {{posts.post_content}}
            </p>
        </div>
        <div class="card-action">
            <p>Created on {{format_date posts.created_at}} </p>
        </div>
    </div>

{{/each}}

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/dashboard.js"></script>