{{!-- GET user posts to display, option to create post or view posts --}}
{{#if logged_in}}
<h4 class="center cyan-text text-darken-3">Nice to see you again <span class="orange-text text-darken-3">{{user_name}}</span>!</h4>
<h5 class="center"> What are you up to today?</h5>
</br>
<div class ="row center">
    <button href="/create-post" class="btn waves-effect waves-light create-post-btn" type="button" name="action">New
    <i class="material-icons right">lightbulb</i>
    </button>
</div>

{{#each posts as |posts| }}

<div class="col s12 m6">
    <div class="card post-card">
        <div class="card-content">
            <div class ="col right">
                <button data-delete-id="{{posts.id}}" class="btn waves-effect waves-light delete-btn" type="button" name="action">Delete
                <i class="material-icons right">delete</i>
                </button>
            </div>
            <div class ="col right">
                <button data-edit-id="{{posts.id}}" class="btn waves-effect waves-light edit-btn" type="button" name="action">Edit
                <i class="material-icons right">edit</i>
                </button>
            </div>
            <a class="card-title orange-text text-darken-4" href="/posts/{{posts.id}}">{{posts.post_title}}</a>
            <p>
                {{posts.post_content}}
            </p>
        </div>
        <div class="card-action">
            <p>Created by {{user_name}} on {{format_date posts.createdAt}} 
            {{#if posts.udpated}}
            <span> || Edited on {{format_date posts.updatedAt}}</span>
            {{/if}}
            </p>
        </div>
    </div>
</div>

{{/each}}

{{else}}

<h4 class="center cyan-text text-darken-3">Hold up!</h4>
<h5 class="center"> You have to log in first!</h5>

{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/dashboard.js"></script>